body{
  padding: 40px 0;
  min-height: 100dvh;
  width: 100dvw;
  background-color: #e5d3b3;
  color: #664229;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  row-gap: 8px;
  overflow-x: hidden;
}



.primary-button{
  all: unset;
  background-color: #664229;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.quotes-button:active{
  background-color: #503420;
}

.quotes-container{
  width: 500px;
  font-size: 32px;
}

.interaction-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.icon-container{
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 100%;
  height: auto;
}

.tabs-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  width: 500px;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.new-quote-container, .favorites-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.new-quote-container{
  row-gap: 16px;
}

.favorites-container{
  row-gap: 0;
  font-size: 20px;
}

.no-favorite-message{
  height: 100px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites, .new-quote{
 cursor: pointer;
}

.favorite-quote-container{
  margin: 10px 0;
  display: flex;
  width: 100%;
  column-gap: 10px;
}

.favorite-quote{
  width: 100%;
}

.back-to-new-quotes-button{
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 16px;
}

.tab-panel{
  display: none;
}

.tab-panel.active{
  display: flex;
}

.tab-button.active {
  font-weight: bold;
  border-bottom: 2px solid #664229;
}

.like-and-share-container{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}